<Layouts.flash_group flash={@flash} />

<p class="text-[2rem] font-semibold leading-10 tracking-tighter text-balance">
  Peace of mind from prototype to production
</p>
<p class="mt-4 leading-7 text-base-content/70">
  Build rich, interactive web applications quickly, with less code and fewer moving parts.
  Join our growing community of developers using Phoenix to craft APIs, HTML5 apps and more, for fun or at scale.
</p>
