<!DOCTYPE html>
<html lang="en" class="size-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="GitlabGraphs" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>

    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        window.addEventListener("phx:set-theme", ({ detail: { theme } }) => setTheme(theme));
      })();
    </script>

    {Application.get_env(:live_debugger, :live_debugger_tags)}
  </head>

  <body class="flex flex-col size-full">
    <div class={[
      "w-full bg-base-200 px-4 sm:px-6 lg:px-8",
      "flex flex-row flex-wrap justify-between items-center",
      "border-1 border-transparent border-b-(--color-base-300)"
    ]}>
      <h1 class="hidden md:inline flex items-center text-sm font-semibold leading-6">
        Phoenix Framework
        <small class="badge badge-warning badge-sm ml-3">
          v{Application.spec(:phoenix, :vsn)}
        </small>
      </h1>

      <ul class="menu menu-horizontal">
        <%= if @current_scope do %>
          <li class="menu-title">{@current_scope.user.email}</li>
          <li><.link href={~p"/users/settings"}>Settings</.link></li>
          <li><.link href={~p"/users/log-out"} method="delete">Log out</.link></li>
        <% else %>
          <li><.link href={~p"/users/register"}>Register</.link></li>
          <li><.link href={~p"/users/log-in"}>Log in</.link></li>
        <% end %>
      </ul>

      <div class="flex justify-between items-center">
        <Layouts.theme_toggle />
      </div>
    </div>

    <div class="size-full">
      <%= if @current_scope do %>
        <div class="flex flex-row size-full">
          <ul class={[
            "h-full border-1 border-transparent border-r-(--color-base-300)",
            "px-4 py-4 sm:px-6 sm:py-6 lg:px-8 lg:py-8",
            "menu bg-base-200 w-56"
          ]}>
            <li>
              <.my_link navigate={~p"/"} current_path={@request_path}>Home</.my_link>
            </li>
            <li>
              <.my_link navigate={~p"/api_keys"} current_path={@request_path}>Api keys</.my_link>
            </li>
            <li>
              <!-- <details open> -->
              <details>
                <summary>Graphs</summary>
                <ul>
                  <li>
                    <.my_link navigate={~p"/graphs/commits"} current_path={@request_path}>
                      Commits
                    </.my_link>
                  </li>
                  <li>
                    <.my_link navigate={~p"/graphs/jobs"} current_path={@request_path}>
                      Jobs
                    </.my_link>
                  </li>
                </ul>
              </details>
            </li>
          </ul>

          <div class="flex-1 px-4 py-4 sm:px-6 sm:py-6 lg:px-8 lg:py-8">
            {@inner_content}
          </div>
        </div>
      <% else %>
        <div class="flex-1 px-4 py-4 sm:px-6 sm:py-6 lg:px-8 lg:py-8">
          {@inner_content}
        </div>
      <% end %>
    </div>
  </body>
</html>
